.NavBarContainer{
  background-color: black;
  height: 80px;
}
.logo{
  width: 40px;
  height: 40px;
  padding-right: 8px;
}
.sportseeLogo{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;



}

.title-list{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between ;
  width: 90%;
  padding-left: 5%;
  align-items: center;
}

.title-navbar{
  color: white;
}:hover{
  color: red;
 }
